<% layout('/layouts/main') -%>

<section id="upcoming" class="gig-stack">
	<h1>upcoming</h1>
	<ul id="future-gigs">

		<%
			// Horrible, have to sort future dates in template as collection
			// comes out as one but we want the two sets in different orders.
			var futureGigs = gigStack;
			futureGigs.sort(function(a,b){
			  return new Date(a.gig_date) - new Date(b.gig_date);
			});
		%>

		<% for(var i=0; i<futureGigs.length; i++) {%>
			<% var currentDate = new Date(); %>
			<% if (currentDate - futureGigs[i].gig_date < 0){ %>
				<li data-date="<%= futureGigs[i].gig_date %>">
					<span class="booking-agent">GigsterLtd.</span>
					<div class="ticket-container">
						<div class="event-detail ticket-artist">
							<span class="static-value"><%= futureGigs[i].artist %></span>
						</div>
						<div class="event-detail ticket-venue">
							<span class="static-value"><%= futureGigs[i].venue %></span>
						</div>
						<div class="display-date">
							<span class="static-value"><%= futureGigs[i].gig_date %></span>
						</div>
					</div>
				</li>
			<% }%>

		<% } %>	

	</ul>
</section>

<section id="past" class="gig-stack">
	<h1>past</h1>
	<ul id="past-gigs">

		<%
			// Horrible, have to sort future dates in template as collection
			// comes out as one but we want the two sets in different orders.
			var pastGigs = gigStack;
			pastGigs.sort(function(a,b){
			  return new Date(b.gig_date) - new Date(a.gig_date);
			});
		%>

		<% for(var i=0; i<pastGigs.length; i++) {%>
			<% var currentDate = new Date(); %>
			<% if (currentDate - pastGigs[i].gig_date > 0){ %>
				<li data-date="<%= pastGigs[i].gig_date %>">
					<span class="booking-agent">GigsterLtd.</span>
					<div class="ticket-container">
						<div class="event-detail ticket-artist">
							<span class="static-value"><%= pastGigs[i].artist %></span>
						</div>
						<div class="event-detail ticket-venue">
							<span class="static-value"><%= pastGigs[i].venue %></span>
						</div>
						<div class="display-date">
							<abbr>VOID: </abbr><span class="static-value past-date"><%= pastGigs[i].gig_date %></span>
						</div>
					</div>
				</li>
			<% } %>

		<% } %>

	</ul>
</section>