<!doctype html>
<html>
<head>
	<meta charset="utf-8" />
	<title>Gigster | Manage your music life</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css" />
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" />
	<link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css" />
	<link href='http://fonts.googleapis.com/css?family=Gafata' rel='stylesheet' type='text/css' />
	<link href='http://fonts.googleapis.com/css?family=Raleway:400,800|Rock+Salt:400,800' rel='stylesheet' type='text/css' />
	<link href="/stylesheets/main.css" rel="stylesheet" />
</head>
<body>
	<header>
		<nav class="navbar navbar-default" role="navigation">
			<div class="container-fluid">
				<div class="nav navbar-header">
					<a class="navbar-brand" href="/profile">gigster</a>
					<ul class="nav navbar-nav">

						<% if (user == undefined) { %>
							<li><a href="/auth/facebook"><span class="fa fa-facebook"></span> Facebook</a>
						<%} else {%>
							<li><a href="/calendar"><span class="glyphicon glyphicon-calendar"></span> Gig Calendar</a></li>
							<li><a href="#" data-action-form="add-gig" data-trigger="popup"><span class="glyphicon glyphicon-road"></span> Attend a show</a></li>
							<li><a href="/users"><span class="glyphicon glyphicon-user"></span> Users</a></li>
							<li>
								<a href="/profile"><span class="glyphicon glyphicon-music"></span> Gigs</a>
							</li>
							<% if (user != undefined) { %>
								<li class="mobile-only"><a href="/logout"><span class="glyphicon glyphicon-eject"></span> Logout</a></li>
							<% } %>
						<% } %>

					</ul>

					<% if (user != undefined) { %>
					<div class="notification-bubble hide" id="user-notifications">
						<a href="#">You have <span>0</span> notifications! x</a>
					</div>
					<ul class="nav navbar-nav pull-right user-nav">
						<li class="user-nav"><a href="#" data-action-form="notifications" data-trigger="popup"><span class="badge notification-badge hide">0</span> <a href="#" data-action-form="update-user" data-trigger="popup"><%= user.username == undefined ? user.facebook.name : user.username %></a></li>
						<% if (user.lastfm != undefined) { %><li data-lastfm="<%= user.lastfm %>"><a href="#"><img src="/images/lastfm_logo.png" /> <%= user.lastfm %></a></li><% } %>
						<li><p><span class="badge"><%= gigStack.length %></span> gigs!</p></li>
						<li><a href="/logout"><span class="glyphicon glyphicon-eject"></span> Logout</a></li>
					</ul>

					<% } %>
					
				</div>
			</div>
		</nav>
	</header>
	<div id="main">
		<%- body %>
	</div>
	<footer>
	</footer>
	<!-- Render new gig form -->
	<% include ../partials/models/gigs/_createGig.ejs %>
	<% include ../partials/models/gigs/_updateGigDetails.ejs %>
	<% include ../partials/models/user/_updateUserDetails.ejs %>
	<script src="//code.jquery.com/jquery-latest.js"></script>
	<script src="/javascript/utilities/jquery-ui.js"></script>
	<script src="/javascript/main.js"></script>
</body>
</html>